<section ng-controller="ClustersController" ng-init="findOne()" ng-show="cluster.clusterId">
  <div class="page-header">
    <h1>Cluster: <span>{{ ::cluster.name }}</span></h1>
  </div>
  <div class="row show-grid">
    <div class="col-md-6">
      <form name="clusterForm" class="form-horizontal" ng-submit="update(clusterForm.$valid)" novalidate>
        <fieldset>
          <div class="form-group required" show-errors>
            <label for="name">Name</label>
            <input name="name" type="text" ng-model="cluster.name" id="name" class="form-control" placeholder="Name" 
            ng-minlength="3"
            ng-maxlength="64"
            ng-pattern="/^[a-zA-Z0-9\ -]*$/"
            ng-bind-html
            required>
            <div ng-messages="clusterForm.name.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Cluster name is required.</p>
              <p class="help-block error-text" ng-message="minlength">Cluster name should have Minimum 3 characters</p>
            <p class="help-block error-text" ng-message="maxlength">Cluster name should have Maximum 64 characters.</p>
            <p class="help-block error-text" ng-message="pattern">Cluster name can only include alphanumeric characters including space and dash.</p>
            </div>
            <p class="help-block">Name of the Cluster</p>
          </div>
          <div class="form-group required" show-errors >
          <label for="management_ip">Management IP</label>
          <input name="management_ip" type="text" ng-model="cluster.management_ip" id="management_ip" class="form-control" placeholder="e.g. 10.20.30.65"
                 ng-pattern="/^([1-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])$/" required="">
          <div ng-messages="clusterForm.management_ip.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Management IP is required.</p>
            <p class="help-block error-text" ng-message="pattern">A valid Management IP address is required</p>
          </div>          
        </div>
        <div class="form-group required" show-errors>
          <label for="provisioning_state">Provisioning State</label>   
          <select name="provisioning_state" ng-model="cluster.provisioning_state" id="provisioning_state" class="form-control"  required >
            <option value="">Please select a Provisioning State</option>
            <option value="open">Open</option>
            <option value="closed">Closed</option>
          </select>
           
          <div ng-messages="clusterForm.provisioning_state.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Provisioning State is required.</p>
          </div>
        </div>
        <!-- <div class="form-group" show-errors>
          <label for="rest_uri">REST URI</label>   
          <input name="rest_uri" type="text" ng-model="cluster.rest_uri" id="rest_uri" class="form-control" placeholder="http://sample.com">  
        </div>    -->       
          <div class="form-group">
            <input type="submit" value="Update" class="btn btn-primary">
          </div>
          <div ng-show="error" class="text-danger">
            <strong ng-bind="error"></strong>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</section>
