<section ng-controller="StorageunitsController" ng-init="findOne()" ng-show="storageunit.storageunitId">
  <div class="page-header">
    <h1>Storage Unit: <span ng-bind="storageunit.name" class="capitalize"></span></h1>
  </div>
  <div class="col-md-6">
    <table class="table table-striped">
      <tr><th>Name</th><td ng-bind="storageunit.name" class="capitalize"></td></tr>
      <tr><th>Code</th><td ng-bind="storageunit.code"></td></tr>
      <tr><th>Status</th><td ng-bind="storageunit.status"></td></tr>
      <tr><th>Application</th><td ng-bind="storageunit.application.name"></td></tr>
      <tr><th>Cluster</th><td ng-bind="storageunit.cluster.name"></td></tr>
      <tr><th>{{labels.server.serverName}}</th><td ng-bind="storageunit.server.name"></td></tr>
      <tr><th>Aggregate</th><td ng-bind="storageunit.aggr"></td></tr>
      <tr><th>Protocol</th><td ng-bind="storageunit.protocol | uppercase"></td></tr>
      <tr><th>Size (GB)</th><td ng-bind="storageunit.sizegb"></td></tr>
      
      <tr ng-if="storageunit.protocol === 'fc' || storageunit.protocol === 'iscsi'"><th>Mapping</th><td ng-bind="storageunit.mapping"></td></tr>
      <tr ng-if="storageunit.protocol === 'fc' || storageunit.protocol === 'iscsi'"><th>Igroup</th><td ng-bind="storageunit.igroup"></td></tr>
      <tr ng-if="storageunit.protocol === 'fc' || storageunit.protocol === 'iscsi'"><th>LUN Id</th><td ng-bind="storageunit.lunId"></td></tr>
      <tr ng-if="storageunit.protocol === 'fc' || storageunit.protocol === 'iscsi'"><th>LUN OS</th><td ng-bind="storageunit.lunOs"></td></tr>
      <tr ng-if="storageunit.protocol === 'nfs'">
        <th>Read-write-clients</th><td ng-bind="storageunit.readWriteClients"></td>
      </tr>
      <tr ng-if="storageunit.protocol === 'nfs'">
        <th>Read-only-clients</th><td ng-bind="storageunit.readOnlyClients"></td>
      </tr>

      <tr ng-if="storageunit.protocol === 'iscsi' || storageunit.protocol === 'fc'"><th>ACL</th><td ng-bind="storageunit.acl"></td></tr>
      <!-- <tr><th>Tags</th>
        <td> 
          <li ng-if="tags[0].attr" ng-repeat="tag in tags">{{tag.attr}}: {{ tag.val}} </li>
        </td>
      </tr> -->
      <tr><th>Snapmirror protection required </th><td ng-bind="storageunit.dr_enabled"></td></tr>
      <tr ng-if="storageunit.destinationCluster!=''"><th>Destination Cluster: </th><td ng-bind="storageunit.destinationCluster"></td></tr>
      <tr ng-if="storageunit.destinationVserver!=''"><th>Destination Vserver: </th><td ng-bind="storageunit.destinationVserver"></td></tr>
      <tr ng-if="storageunit.destinationAggr!=''"><th>Destination Aggregate: </th><td ng-bind="storageunit.destinationAggr"></td></tr>
      <tr ng-if="storageunit.schedule!=''"><th>Schedule: </th><td ng-bind="storageunit.schedule"></td></tr>

      <tr ng-if="(SUAccessRoles.delete | intersect : authentication.user.roles) > 0 ||  (SUAccessRoles.update | intersect : authentication.user.roles) > 0">

        <th>Actions</th>
        <td>
          <!-- <button ng-if="(SUAccessRoles.update | intersect : authentication.user.roles) > 0" type="button" class="btn btn-xl luci-button--primary"
          ng-disabled="storageunit.status!=='Operational'"
          ui-sref="storageunits.edit({storageunitId: storageunit.storageunitId})">Edit</button> -->

          <button ng-if="(SUAccessRoles.delete | intersect : authentication.user.roles) > 0" type="button" class="btn btn-xl luci-button--primary" ng-disabled="storageunit.status!=='Operational'" ng-click="remove(storageunit);">Delete</button>
          <button  type="button" class="luci-button luci-button--icon-only luci-button--primary" ui-sref="storageunits.list" title="Back">
            <span class="luci-button__inner">
              <svg class="luci-icon luci-button__icon luci-button__icon--left" aria-hidden="true">
                  <use xlink:href="/assets/css/icons/luci.svg#navigate-back">
                  </use>
              </svg>
          </span>
        </button>
        </td>
      </tr>
    </table>
  </div>
</section>
