<section ng-controller="StorageunitsController" ng-init="find()">
  <div class="page-header">
    <h1>New Storage Unit</h1>
  </div>
  <div class="col-md-6">
    <form name="storageunitForm" class="form-horizontal" ng-submit="create(storageunitForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group">
          <p class="faint-text">A Storage Unit takes the form of a NetApp NFS Export, CIFS Share or iSCSI LUN. Configuration covers:<ul><li>Storage Type</li><li>Storage Size</li><li>Storage Access</li></ul></p>
        </div>
        <div class="form-group required" show-errors>
          <label for="name">Display Name</label>
          <input name="name" type="text" ng-model="name" id="Name" class="form-control"
                  placeholder="Name"
                  ng-maxlength="64"
                  ng-minlength="3"
                  ng-pattern="/^[a-zA-Z0-9 -]*$/"
                  required>
          <div ng-messages="storageunitForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Name is required.</p>
            <p class="help-block error-text" ng-message="maxlength">Name should be maximum 64 characters long.</p>
            <p class="help-block error-text" ng-message="minlength">Name must be minimum 3 characters long.</p>
            <p class="help-block error-text" ng-message="pattern">Only Alphanumeric, spaces and dashes allowed</p>
          </div>
          <p class="help-block">Name to refer to the Storage Unit in this portal.</p>
        </div>

        <div class="form-group required" show-errors>
          <label for="code">Storage Name</label>
          <input name="code" type="text" ng-model="code" id="code" class="form-control" placeholder="Code"
            ng-pattern="/^[a-z][a-z0-9\_]*$/"
            ng-maxlength="32"
            ng-minlength="3"
            required>
          <div ng-messages="storageunitForm.code.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Code is required.</p>
            <p class="help-block error-text" ng-message="pattern">Only lowercase alphanumeric characters and underscores are allowed <br>First character must be alphabetical</p>

            <p class="help-block error-text" ng-message="maxlength">Code should be maximum 32 characters long.</p>
            <p class="help-block error-text" ng-message="minlength">Code must be minimum 3 characters long.</p>
          </div>
          <p class="help-block">The name of the NetApp NFS Export, CIFS Share or iSCSI LUN on the storage system.<br>The code will be visible in the NFS Export path and CIFS Share name.<br>Note: A Storage Group cannot contain multiple Storage Units with the same code.</p>
        </div>

        <div class="form-group required" show-errors>
          <label for="sizegb">Size (GB)</label>
          <input name="sizegb" type="number" ng-model="sizegb" id="sizegb" class="form-control" placeholder="Size (GB)" required min="100" required max="16384" ng-pattern="/^[\d]*$/">
          <div ng-messages="storageunitForm.sizegb.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Storage Size in GB is required.</p>
            <p class="help-block error-text" ng-message="min">Minimum value is 100.</p>
            <p class="help-block error-text" ng-message="max">Maximum value is 16384.</p>
            <p class="help-block error-text" ng-message="number">Please enter valid number.</p>
            <p class="help-block error-text" ng-message="pattern">Please enter valid integer.</p>
          </div>
          <p class="help-block">The presented size of the NFS Export, CIFS Share or iSCSI LUN.<br>
            The containing Storage Group will automatically be resized accordingly.</br>
            Minimum Storage Unit size will be 100GB to ensure workable performance.</br>
            Note: LUN cannot be resized to more than 10x original size</p>
        </div>

        <div class="form-group required" show-errors ng-if="isRoot">
          <label for="application">Application</label>
          <select name="applicationId" ng-model="$parent.applicationId" id="applicationId" class="form-control" ng-options="app.applicationId as app.name for app in applications" required>
            <option value="">Please select a Application</option>
          </select>
          <div ng-messages="storageunitForm.applicationId.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Application name is required.</p>
          </div>
        </div>

        <div class="form-group required" show-errors>
          <label for="clusterId">Cluster</label>   
          <select name="clusterId" ng-model="clusterId" id="clusterId" class="form-control" ng-options="cluster.clusterId as cluster.name for cluster in clusters | orderBy: 'name' | filter: {provisioning_state:'open'}" required  ng-disabled="!clusters.length">
            <option value="">Please select a cluster</option>
          </select>
          <!-- <div class="loader" ng-show="!clusters.length"></div>        -->
          <div ng-messages="storageunitForm.clusterId.$error" role="alert">
            <p class="help-block error-text" ng-message="required">cluster name is required.</p>
          </div>
          <p class="help-block">The cluster the storageunit is to be created in.</p>
        </div>


        <div class="form-group required" show-errors>
          <label for="serverId">{{labels.server.serverName}}</label>
          <select name="serverId" ng-model="serverId" id="serverId" class="form-control" ng-options="server.serverId as server.name for server in servers | orderBy: 'name'" required ng-disabled="isRoot && (!clusterId || !servers.length)"> 
            <option value="">Please select a {{labels.server.serverName}}</option>
          </select>
          <div ng-messages="storageunitForm.serverId.$error" role="alert">
            <p class="help-block error-text" ng-message="required">{{labels.server.serverName}} is required.</p>
          </div>
          <p class="help-block">The {{labels.server.serverName}} in which the Storage Unit is to reside in.</p>
        </div>

        <div class="form-group required" show-errors>
          <label for="aggr">Aggregate Name</label>
          <select name="aggr" ng-model="aggr" id="aggr" class="form-control" ng-options="aggregate.name as aggregate.name for aggregate in aggregates | orderBy: 'name'" required ng-disabled="isRoot && !clusterId">
            <option value="">Please select a Aggregate</option>
          </select>
          <div ng-messages="storageunitForm.aggr.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Aggregate is required.</p>
          </div>
          <p class="help-block">The Aggregate in which the Storage Unit is to reside in.</p>
        </div>


        <div class="form-group required" show-errors>
          <label for="protocol">Provision Type</label>
          <select class="form-control" name="protocol" id="protocol" ng-model="protocol" required placeholder="" ng-disabled="!validProtocolsToAssign.length">
              <option value="">Please select Provision Type</option>
              <option ng-repeat="protocol in validProtocolsToAssign | orderBy" value="{{protocol}}">{{protocol | uppercase}}</option>
          </select>
          <div ng-messages="storageunitForm.protocol.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Provision Type is a required field.</p>
          </div>
          <p class="help-block">The Provision Type with which the Storage Unit is to be accessed with.</p>
        </div>

        <!-- <div class="form-group required" show-errors>
          <label for="storagegroupId">Volume</label>
          <select name="storagegroupId" ng-model="storagegroupId" id="storagegroupId" class="form-control" ng-options="storagegroup.id as storagegroup.name for storagegroup in storagegroups | orderBy: 'name'" required ng-disabled="!serverId || storagegroups.length == 0">
            <option value="">Please select a Volume</option>
          </select>
          <div ng-messages="storageunitForm.storagegroupId.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Volume name is required.</p>
          </div>
          <p class="help-block">The Volume in which the Storage Unit is to reside in.</p>
        </div> -->

      

        <!-- <div class="form-group">
          <label for="name">Tags</label>
          <br/>
          <div ng-repeat="(key, value) in tags" class="row" style="margin-left:0;">
            <div class="col-md-5 form-group" show-errors>
              <input name="tags{{key}}" type="text" ng-model="value['attr']" id="name" class="form-control" placeholder="Key"
                    ng-maxlength="64"
                    ng-minlength="3"
                    ng-pattern="/^[a-zA-Z0-9-]*$/"
                    ng-required="value['val']">
              <div ng-messages="storageunitForm['tags'+key].$error" role="alert">
                <p class="help-block error-text" ng-message="required">Tag key should not be blank.</p>
                <p class="help-block error-text" ng-message="maxlength">Tag key should be maximum 64 characters long.</p>
                <p class="help-block error-text" ng-message="minlength">Tag key must be minimum 3 characters long.</p>
                <p class="help-block error-text" ng-message="pattern">Only Alphanumeric, spaces and dashes allowed</p>
              </div>
            </div>
            <div class="col-md-5 form-group" show-errors>
              <input name="tagValues{{key}}" type="text" ng-model="value['val']" id="name" class="form-control" placeholder="Value"
                    ng-maxlength="64"
                    ng-minlength="3"
                    ng-pattern="/^[a-zA-Z0-9-]*$/"
                    ng-required="value['attr']">
              <div ng-messages="storageunitForm['tagValues'+key].$error" role="alert">
                 <p class="help-block error-text" ng-message="required">Tag value should not be blank.</p>
                <p class="help-block error-text" ng-message="maxlength">Tag key should be maximum 64 characters long.</p>
                <p class="help-block error-text" ng-message="minlength">Tag key must be minimum 3 characters long.</p>
                <p class="help-block error-text" ng-message="pattern">Only Alphanumeric, spaces and dashes allowed</p>
              </div>
            </div>
            <div class="col-md-3">
              <span ng-click="addTag()" class="btn btn-primary" ng-show="key==tags.length-1">
                  <i class="glyphicon glyphicon-plus"></i>
              </span>
              <span ng-click="removeTag(key)" class="btn btn-primary" ng-hide="tags.length==1">
                  <i class="glyphicon glyphicon-minus"></i>
              </span>
            </div>
          </div>
        </div> -->
        <div class="form-group"  ng-show="protocol === 'iscsi' || protocol === 'fc'">
          <label for="existingIgroup">Mapping&nbsp;&nbsp;&nbsp;</label>
          <label class="radio-inline"><input type="radio" name="scope" ng-model="$parent.mapping" value="existing">Existing Server</label>
          <label class="radio-inline"><input type="radio" name="scope" ng-model="$parent.mapping" value="new" checked>New Server</label>
        </div>

        <div class="form-group" show-errors ng-if="(protocol === 'iscsi' || protocol=== 'fc') && mapping =='existing'">
          <label for="existingIgroup">Igroup</label>
          <select name="igroup" ng-model="$parent.igroup" id="igroup" class="form-control" ng-options="igroup for igroup in igroups" required ng-disabled="!serverId || igroups.length == 0">
            <option value="">Please select a Igroup</option>
          </select>
          <div ng-messages="storageunitForm.igroup.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Igroup is required.</p>
          </div>
          <p class="help-block">The Igroup from the existing list in which the Storage Unit is to reside in.</p>
        </div>

        <div class="form-group" show-errors ng-if="(protocol === 'iscsi' || protocol=== 'fc') && mapping=='new'">
          <label for="igroupName">Igroup Name</label>
          <input name="igroup" type="text" ng-model="$parent.igroup" id="igroup" class="form-control" placeholder="Igroup Name"  ng-pattern="/^[a-z][a-z0-9\_]*$/">
          
          <div ng-messages="storageunitForm.igroup.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Igroup  Name is required.</p>
          </div>
          <p class="help-block">The Igroup Name, to be created for the selected ACL</p>
        </div>



        <div class="form-group" show-errors ng-if="(protocol === 'iscsi') && mapping=='new'">
          <label for="acl">Access Control List</label>
          <input name="acl" type="text" ng-model="$parent.acl" id="acl" class="form-control" placeholder="ACL" ng-pattern="/^((?:iqn\.[0-9]{4}-[0-9]{2}(?:\.[A-Za-z](?:[A-Za-z0-9\-]*[A-Za-z0-9])?)+(?::[^,:]*)?)|(eui\.[0-9A-Fa-f]{16}))+(?:,((?:iqn\.[0-9]{4}-[0-9]{2}(?:\.[A-Za-z](?:[A-Za-z0-9\-]*[A-Za-z0-9])?)+(?::[^,:]*)?)|(eui\.[0-9A-Fa-f]{16}))+)*$/">
          <div ng-messages="storageunitForm.acl.$error" role="alert">
          <p class="help-block error-text" ng-message="pattern">Please enter valid ACL.</p>
          <p class="help-block">The list of iSCSI IQNs allowed to access the Storage Unit.<br>Comma-separated notation without spaces is accepted.<br>iSCSI: e.g. iqn.1992-05.com.microsoft:servername</p>
          </div>
        </div>

        <div class="form-group" show-errors ng-if="(protocol=== 'fc') && mapping=='new'">
          <label for="acl">Access Control List</label>
          <input name="acl" type="text" ng-model="$parent.acl" id="acl" class="form-control" placeholder="ACL" ng-pattern="/(([A-Z0-9]{2}):([A-Z0-9]{2}):([A-Z0-9]{2}):([A-Z0-9]{2}):([A-Z0-9]{2}):([A-Z0-9]{2}):([A-Z0-9]{2}):([A-Z0-9]{2}))+(?:,(([A-Z0-9]{2}):([A-Z0-9]{2}):([A-Z0-9]{2}):([A-Z0-9]{2}):([A-Z0-9]{2}):([A-Z0-9]{2}):([A-Z0-9]{2}):([A-Z0-9]{2}))+)*$/">
          <div ng-messages="storageunitForm.acl.$error" role="alert">
          <p class="help-block error-text" ng-message="pattern">Please enter valid ACL.</p>
          <p class="help-block">The list of FC WWPN allowed to access the Storage Unit.<br>Comma-separated notation without spaces is accepted.<br>FC: e.g. 10:00:00:90:FA:C0:AE:73</p>
          </div>
        </div>

        <div class="form-group" show-errors ng-if="protocol === 'nfs'">
          <label for="acl">Access Control List</label>
          <br/>
          <label for="aclReadWrite">Read Write clients</label>
          <input name="aclreadWrite" type="text" ng-model="$parent.aclReadWrite" id="aclreadWrite" class="form-control" placeholder="ACL" ng-pattern="/^(((((25[0-5]|2[0-4]\d|[01]?\d\d?)\.(25[0-5]|2[0-4]\d|[01]?\d\d?)\.(25[0-5]|2[0-4]\d|[01]?\d\d?)\.(25[0-5]|2[0-4]\d|[01]?\d\d?)((\/([8-9]|1[0-9]|2[0-6]))*))))+((,((((25[0-5]|2[0-4]\d|[01]?\d\d?)\.(25[0-5]|2[0-4]\d|[01]?\d\d?)\.(25[0-5]|2[0-4]\d|[01]?\d\d?)\.(25[0-5]|2[0-4]\d|[01]?\d\d?)((\/([8-9]|1[0-9]|2[0-6]))*))))+))*)$/">
          <div ng-messages="storageunitForm.aclreadWrite.$error" role="alert">
            <p class="help-block error-text" ng-message="pattern">Please enter valid ACL.</p>
          </div>

          <label for="acl">Read Only clients</label>
          <input name="aclreadOnly" type="text" ng-model="$parent.aclReadOnly" id="aclreadOnly" class="form-control" placeholder="ACL" ng-pattern="/^(((((25[0-5]|2[0-4]\d|[01]?\d\d?)\.(25[0-5]|2[0-4]\d|[01]?\d\d?)\.(25[0-5]|2[0-4]\d|[01]?\d\d?)\.(25[0-5]|2[0-4]\d|[01]?\d\d?)((\/([8-9]|1[0-9]|2[0-6]))*))))+((,((((25[0-5]|2[0-4]\d|[01]?\d\d?)\.(25[0-5]|2[0-4]\d|[01]?\d\d?)\.(25[0-5]|2[0-4]\d|[01]?\d\d?)\.(25[0-5]|2[0-4]\d|[01]?\d\d?)((\/([8-9]|1[0-9]|2[0-6]))*))))+))*)$/">

          <div ng-messages="storageunitForm.aclreadOnly.$error" role="alert">
          <p class="help-block error-text" ng-message="pattern">Please enter valid ACL.</p>
          </div>
          <p class="help-block">The list of NFS Subnets or IP addresses allowed to access the Storage Unit.<br>Comma-separated notation without spaces is accepted.<br>NFS: e.g. 10.20.30.40,10.20.30.41</p>
        </div>

        <div ng-show="protocol === 'iscsi' || protocol === 'fc'">
          <div class="form-group required" show-errors>
            <label for="lunOs">Operating System & LUN Type</label>
           <select class="form-control" name="lunOs" id="lunOs" ng-model="lunOs" ng-required="protocol === 'iscsi'">
              <option value="">Please select operating system & type</option>
              <option ng-repeat="(key, value) in validOSToAssign" ng-if="value" value="{{value}}">{{value}}</option>
          </select>
          <div ng-messages="storageunitForm.lunOs.$error" role="alert">
           <p class="help-block error-text" ng-required="min">LUN OS is a required field</p>
         </div>
            <p class="help-block">Please ensure the correct Operating System & LUN Type is specified.<br>Note: Windows_2008 is typically to be selected for all Windows Servers since Windows 2008.</p>
          </div>
          <div class="form-group" show-errors>
            <label for="lunId">LUN ID</label>
            <input name="lunId" type="number" ng-model="lunId" id="lunId" class="form-control" placeholder="LUN ID" min="0" max="255">
             <div ng-messages="storageunitForm.lunId.$error" role="alert">
              <p class="help-block error-text" ng-message="min">Minimum value should be 0.</p>
              <p class="help-block error-text" ng-message="max">Maximum value should be 255.</p>
              <p class="help-block error-text" ng-message="number">Please enter valid number.</p>
            </div>
            <p class="help-block">Optional: Only to be entered if a specific LUN ID is required.<br>The storage system will by default select the next-available LUN ID.<br>Entering a LUN ID used by another LUN, which is presented to the same IQN will be prevented by the storage system.</p>
          </div>
        </div>

        <div class="form-group" show-errors ng-if="showDrEnabledCheckBox && serverId  && clusterId"> 
          <input type="checkbox" ng-model="$parent.dr_enabled"  ng-change="checkboxChanged()" name="dr_enabled" value="true">
          <label for="dr_enabled">&nbsp;Snapmirror protection required</label>  
       </div>
        <div class="form-group required" show-errors ng-if="dr_enabled">
          <label for="destinationCluster">Destination Cluster</label>   
          <select name="destinationCluster" ng-model="$parent.destinationCluster" id="cluster" class="form-control" ng-options="peer.peerCluster for peer in peers | orderBy: 'peerCluster'" required  ng-disabled="!peers.length">
            <option value="">Please select a cluster</option>
          </select>
          <!-- <div class="loader" ng-show="!clusters.length"></div>        -->
          <div ng-messages="storageunitForm.destinationCluster.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Destination cluster name is required.</p>
          </div>
          <p class="help-block">The Destination cluster the storageunit is to be created in.</p>
        </div>
  
        <div class="form-group required" show-errors ng-if="dr_enabled">
          <label for="destinationVserver">Destination {{labels.server.serverName}}</label>
          <select name="destinationVserver" ng-model="$parent.destinationVserver" id="destinationVserver" class="form-control" ng-options="peer.peerVserver for peer in peers | orderBy: 'peerVserver' | filter: {peerCluster:$parent.destinationCluster.peerCluster}" required ng-disabled="!peers.length"> 
            <option value="">Please select a {{labels.server.serverName}}</option>
          </select>
          <div ng-messages="storageunitForm.destinationVserver.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Destination {{labels.server.serverName}} is required.</p>
          </div>
          <p class="help-block">The Destination {{labels.server.serverName}} in which the Storage Unit is to reside in.</p>
        </div>
  
        <div class="form-group required" show-errors ng-if="dr_enabled">
          <label for="destinationAggr">Destination Aggregate</label>
          <select name="destinationAggr" ng-model="$parent.destinationAggr" id="destinationAggr" class="form-control" ng-options="aggregate.name as aggregate.name for aggregate in destinationAggregates | orderBy: 'name'" required ng-disabled="!peers.length"> 
            <option value="">Please select a Aggregate</option>
          </select>
          <div ng-messages="storageunitForm.destinationVserver.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Destination Aggregate is required.</p>
          </div>
          <p class="help-block">The Destination Aggregate in which the Storage Unit is to reside in.</p>
        </div>
  
        <div class="form-group required" show-errors ng-if="dr_enabled">
          <label for="schedule">Schedule</label>
          <select name="schedule" ng-model="$parent.schedule" id="scehdule" class="form-control" required ng-disabled="!peers.length"> 
            <option value="">Please select a schedule</option>
            <!-- <option value="@00.30">@00.30</option> -->
            <!-- <option value="@10.40">@10.40</option> -->
            <option value="15min">15min</option>
            <!-- <option value="@20.50">@20.50</option> -->
            <option value="daily">daily</option>
          </select>
          <div ng-messages="storageunitForm.destinationVserver.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Schedule is required.</p>
          </div>
          <p class="help-block">The Schedule in which the Storage Unit is to reside in.</p>
        </div>

        <div class="form-group text-center">
          <input type="submit" value="Create" class="luci-button luci-button--primary">
        </div>
        <div ng-show="error" class="text-danger">
          <strong ng-bind="error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
