<section ng-controller="ReplicasController" ng-init="findOne()" ng-show="replica.id">
  <div class="page-header">
    <h3>Replica: 
      <a ui-sref="storagegroups.view({storagegroupId: replica.source_volume.id})">
        <span>{{replica.source_site.name}}://{{replica.source_server.name}}/{{replica.source_volume.name}}</span>
      </a>
      ->
      <a ui-sref="storagegroups.view({storagegroupId: replica.destination_volume.id})">
        <span>{{replica.destination_site.name}}://{{replica.destination_server.name}}/{{replica.destination_volume.name}}</span>
      </a>
    <h3>
  </div>
  <div class="row show-grid">
    <div class="col-md-6">
      <form name="replicaForm" class="form-horizontal" ng-submit="update(replicaForm.$valid)" novalidate>
          <div class="form-group" show-errors>
            <label for="action">Action</label>   
            <select name="action" ng-model="replica.action" id="action" class="form-control" >
              <option value="">Please select a Action</option>
              <option value="break" ng-if="replica.state!='broken'">Break</option>
              <option value="pause" ng-if="replica.state=='insync'">Pause</option>
              <option value="resume" ng-if="replica.state=='paused'">Resume</option>
              <option value="resync" ng-if="replica.state=='broken'">Resync</option>
            </select>
          </div>

          <div class="row show-grid mLeft0">
            <label for="policySchedule">Replica schedule:
            </label>
            
            <div class="form-group" show-errors>
              <label for="hour">Hour</label>
              <input name="hour" type="text" ng-model="replica.schedule.hour" id="hour" class="form-control"
              placeholder="Hour"
              ng-pattern="/^(?!.*(\b(?:[0-9]|1\d|2[0-3])\b).*\b\1\b)(?:[0-9]|1\d|2[0-3])(?:,(?:[0-9]|1\d|2[0-3]))*$/"
              >

              <div ng-messages="replicaForm.hour.$error" role="alert">
                
                <p class="help-block error-text" ng-message="pattern">Only coma separated numbers between 0, 23 are allowed, each number should occure only once</p>
              </div>
              <p class="help-block">Please enter coma separated string of numbers between 0 to 23, each number should occure only once</p>
            </div>
            <div class="form-group" show-errors>
              <label for="minute">Minute</label>
              <input name="minute" type="number" ng-model="replica.schedule.minute" id="minute" class="form-control" placeholder="minute" min="0" max="59" ng-pattern="/^[\d]*$/">
              <div ng-messages="replicaForm.minute.$error" role="alert">
                <p class="help-block error-text" ng-message="min">Minimum value is 0.</p>
                <p class="help-block error-text" ng-message="max">Maximum value is 59.</p>
                <p class="help-block error-text" ng-message="number">Please enter valid number.</p>
                <p class="help-block error-text" ng-message="pattern">Please enter valid integer.</p>
              </div>              
            </div>
        </div>
          <div class="form-group">
            <input type="submit" value="Update" class="btn btn-primary">
          </div>
          <div ng-show="error" class="text-danger">
            <strong ng-bind="error"></strong>
          </div>
      </form>
    </div>
  </div>
</section>
