<!--<section ng-init="refreshGraphs()">
  <div class="page-header">
    <div class="row">
      <div class="col-md-8">
        <h2>{{labels.app.title}}</h2>
      </div>
    </div>
  </div>
  <div ng-show="!(isRoot || isPartner)">
    <div class="row graphmenu" >
      <div style="width:350px; float : left;">
        <div class="form-group dashboardradio">
          <label class="radio-inline"><input type="radio" name="scope" ng-model="scope" value="tenant">All</label>
          <!--label class="radio-inline"><input type="radio" name="scope" ng-model="scope" value="top5">Top 5</label-->
          <!--<label class="radio-inline"><input type="radio" name="scope" ng-model="scope" value="custom">Custom</label>
        </div>
        <div class="form-group dashboardradio">
          <label class="radio-inline"><input type="radio" name="from" ng-model="from" value="y">Year</label>
          <label class="radio-inline"><input type="radio" name="from" ng-model="from" value="mon">Month</label>
          <label class="radio-inline"><input type="radio" name="from" ng-model="from" value="w">Week</label>
          <label class="radio-inline"><input type="radio" name="from" ng-model="from" value="d">Day</label>
          <label class="radio-inline"><input type="radio" name="from" ng-model="from" value="h">Hour</label>
        </div>
      </div>
      <div style="width:650px; float : left;">
        <div class="row" ng-if="scope=='custom'">
          <div class="form-group graphdropdown">
            <label for="siteId">Site</label>
            <select name="siteId" ng-model="siteId" id="siteId" class="form-control selectlist"
            ng-options="site.siteId as site.name for site in sites | orderBy: 'name'"
            required ng-change="populatevFas(siteId, subtenantId)">
            <option value="">Select one</option>
            </select>
          </div>
          <div class="form-group graphdropdown">
            <label for="subtenantId">Subtenant</label>
            <select name="subtenantId" ng-model="subtenantId" id="subtenantId" class="form-control selectlist"
            ng-options="subtenant.subtenantId as subtenant.name for subtenant in subtenants | orderBy: 'name'"
            required ng-change="populatevFas(siteId, subtenantId)">
            <option value="">Select one</option>
          </select>
          </div>
          <div class="form-group graphdropdown">
            <label for="serverId">{{labels.server.serverName}}</label>
            <select name="serverId" ng-model="custom.serverId" id="serverId" class="form-control selectlist"
            ng-options="server.serverId as server.name for server in servers | orderBy: 'name'"
            required ng-change="populateSG(custom.serverId)" ng-disabled="servers.length===0">
            <option value="">Select one</option>
            </select>
          </div>
          <div class="form-group graphdropdown">
            <label for="storagegroupId">Storage Group</label>
            <select name="storagegroupId" ng-model="custom.storagegroupId" id="storagegroupId" class="form-control selectlist"
            ng-options="storagegroup.storagegroupId as storagegroup.name for storagegroup in storagegroups | orderBy: 'name'"
            required ng-disabled="storagegroups.length===0">
            <option value="">Select one</option>
            </select>
          </div>
        </div>
      </div>
      <div style="width:100px; float:left;">
        <div class="form-group dashboardrefresh">
          <button type="button" class="btn btn-xl btn-primary form-control" ng-click="refreshGraphs()">Refresh</button>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 graph" id="iops" >
        <img src='/modules/core/client/img/loaders/loader.gif'>
      </div>
      <div class="col-md-6 graph" id="capacity" >
        <img src='/modules/core/client/img/loaders/loader.gif'>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 graph" id="throughput">
        <img src='/modules/core/client/img/loaders/loader.gif'>
      </div>
      <div class="col-md-6 graph" id="latency">
        <img src='/modules/core/client/img/loaders/loader.gif'>
      </div>
    </div>
  </div>
</section> --> 

<!-- 
<section>
  <div class="page-header">
    <div class="row">
      <div class="col-md-8">
        <h2>{{labels.app.title}}</h2>
      </div>
    </div>
  </div>
  <div class="luci-table">
    <table class="luci-table__table">
        <thead>
            <tr>
                <th class="" scope="col"> Customer Name </th>
                <th class="" scope="col"> Hostname </th>
                <th class="" scope="col"> Model </th>
                <th class="" scope="col"> Serial Number </th>
                <th class="" scope="col"> System Age (Years) </th>
                <th class="" scope="col"> Platform EOA Date </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td> Sample Name </td>
                <td> Test 1 </td>
                <td> FAS2554 </td>
                <td>
                    <a href="#">701517001122</a>
                </td>
                <td> 2 </td>
                <td>
                </td>
            </tr>
            <tr>
                <td> Sample Name </td>
                <td> Test 2 </td>
                <td> FAS3170 </td>
                <td>
                    <a href="#">700000208098</a>
                </td>
                <td> 7 </td>
                <td> 2/03/2017 </td>
            </tr>
            <tr>
                <td> Sample Name </td>
                <td> Test 3 </td>
                <td> FAS3170 </td>
                <td>
                    <a href="#">700000212609</a>
                </td>
                <td> 7 </td>
                <td> 4/06/2017 </td>
            </tr>
        </tbody>
    </table>
  </div>
  
</section> -->

<section>
  <div class="page-header">
    <div class="row">
      <div class="col-md-8">
        <h2>{{labels.app.title}}</h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">Availability
      <div class = "graph" id="clusters"></div>
    </div>
    <div class="col-md-6">Capacity
      <div class = "graph" id="svms"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">Perfromance
      <div class = "graph" id="aggregates"></div>
    </div>
    <div class="col-md-6">Protection
      <div class = "graph" id="nodes"></div>
    </div>
  </div>
  

</section>