<section ng-controller="StoragegroupsController" ng-init="findOne()" ng-show="storagegroup.id">
  <div class="page-header">
    <h1>Volume: <span>{{ ::storagegroup.name }}</span></h1>
  </div>
  <form name="volumeForm" class="form-horizontal" ng-submit="update(volumeForm.$valid)" novalidate>
    <div class="row show-grid">
      <div class="col-md-5">
        <div class="form-group required" show-errors>
          <label for="name">Name</label>
          <input name="name" type="text" ng-model="storagegroup.name" id="name" class="form-control"
                  ng-minlength="3"
                  ng-maxlength="64"
                  ng-pattern="/^[a-zA-Z0-9\ \-\_]*$/"
                  required placeholder="Name" ng-bind-html>
          <div ng-messages="volumeForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Name is required.</p>
            <p class="help-block error-text" ng-message="minlength">Volume name must be minimum 3 characters long.</p>
            <p class="help-block error-text" ng-message="maxlength">Volume name should be maximum 64 characters long.</p>
            <p class="help-block error-text" ng-message="pattern">Only Alphanumeric, spaces, underscore and dashes are allowed</p>
          </div>
        </div>
        <div class="form-group required" show-errors>
          <label for="tier">Performance Service Level</label>
          <select name="tier" ng-model="storagegroup.tier" id="tier" class="form-control" required>
            <option ng-repeat="SL in validPerformanceSLToAssign | orderBy:'name'" value="{{SL.name}}" ng-selected="{{trim(storagegroup.tier)==SL.name ? 'selected' : ''}}" class="capitalize">{{SL.name}}</option>
          </select>
          <div ng-messages="volumeForm.tier.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Performance Service Level is required.</p>
          </div>
        </div>
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-5">
        <div class="form-group">
          <label for="name">Tags</label>
          <br/>
          <div ng-repeat="(key, value) in tags" class="row" style="margin-left:0;">
            <div class="col-md-5 form-group" show-errors>
              <input name="tags{{key}}" type="text" ng-model="value['attr']" id="name" class="form-control" placeholder="Key"
                    ng-maxlength="64"
                    ng-minlength="3"
                    ng-pattern="/^[a-zA-Z0-9-]*$/"
                    ng-required="value['val']">
              <div ng-messages="volumeForm['tags'+key].$error" role="alert">
                <p class="help-block error-text" ng-message="required">Tag key should not be blank.</p>
                <p class="help-block error-text" ng-message="maxlength">Tag key should be maximum 64 characters long.</p>
                <p class="help-block error-text" ng-message="minlength">Tag key must be minimum 3 characters long.</p>
                <p class="help-block error-text" ng-message="pattern">Only Alphanumeric, spaces and dashes allowed</p>
              </div>
            </div>
            <div class="col-md-5 form-group" show-errors>
              <input name="tagValues{{key}}" type="text" ng-model="value['val']" id="name" class="form-control" placeholder="Value"
                    ng-maxlength="64"
                    ng-minlength="3"
                    ng-pattern="/^[a-zA-Z0-9-]*$/"
                    ng-required="value['attr']">
              <div ng-messages="volumeForm['tagValues'+key].$error" role="alert">
                 <p class="help-block error-text" ng-message="required">Tag value should not be blank.</p>
                <p class="help-block error-text" ng-message="maxlength">Tag key should be maximum 64 characters long.</p>
                <p class="help-block error-text" ng-message="minlength">Tag key must be minimum 3 characters long.</p>
                <p class="help-block error-text" ng-message="pattern">Only Alphanumeric, spaces and dashes allowed</p>
              </div>
            </div>
            <div class="col-md-3">
              <span ng-click="addTag()" class="btn btn-primary" ng-show="key==tags.length-1">
                  <i class="glyphicon glyphicon-plus"></i>
              </span>
              <span ng-click="removeTag(key)" class="btn btn-primary" ng-hide="tags.length==1">
                  <i class="glyphicon glyphicon-minus"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row show-grid"  ng-show="storagegroup.volume_type!='mirror'">
      <div class="col-md-5">
        <div class="row">
          <div class="form-group col-md-10">
              <label style="margin-top: 12px;" > Snapshot Policy</label>
              <p><a style="cursor:pointer;" ng-click="toggleSnapshotPolicyView()">Click to view/edit</a></p>
          </div>
        </div>
      
         <div ng-show="showSSpolicy" class="row">
            <div class="tab">
              <a class="tablinks btn sstablinks" ng-click="openSnapshotTab($event, 'Hourly')" ng-class="hourlyScheduleEnabled ? 'green active':''">Hourly</a>
              <a class="tablinks btn sstablinks" ng-click="openSnapshotTab($event, 'Daily')" ng-class="dailyScheduleEnabled ? 'green active':''">Daily</a>
              <a class="tablinks btn sstablinks" ng-click="openSnapshotTab($event, 'Weekly')" ng-class="weeklyScheduleEnabled ? 'green active':''">Weekly</a>
              <a class="tablinks btn sstablinks" ng-click="openSnapshotTab($event, 'Monthly')" ng-class="monthlyScheduleEnabled ? 'green active':''">Monthly</a>
            </div>
            <div id="Hourly" class="tabcontent sstabcontent">
              <p class="faint-text">If enabled (In Green) and (snapshotsToKeep > 0), make a snapshot every hour e.g. at 04:00, 05:00, 06:00</p>
                <div class="form-group" show-errors>
                  <label for="minute">Minute</label>
                  <input name="hourly_schedule_minute" type="number" ng-model="hourly_schedule.minute" id="hourly_schedule_minute" class="form-control" placeholder="minute" min="0" max="59" ng-pattern="/^[\d]*$/" ng-required="hourlyScheduleEnabled">
                  <div ng-messages="volumeForm.hourly_schedule_minute.$error" role="alert">
                   
                    <p class="help-block error-text" ng-message="min">Minimum value is 0.</p>
                    <p class="help-block error-text" ng-message="max">Maximum value is 59.</p>
                    <p class="help-block error-text" ng-message="number">Please enter valid number.</p>
                    <p class="help-block error-text" ng-message="pattern">Please enter valid integer.</p>
                    <p class="help-block error-text" ng-message="required">Please enter value.</p>
                  </div>              
                </div>
                <div class="form-group" show-errors>
                  <label for="snapshots_to_keep">Snapshots To Keep</label>
                  <input name="hourly_schedule_snapshots_to_keep" type="number" ng-model="hourly_schedule.snapshots_to_keep" id="hourly_schedule_snapshots_to_keep" class="form-control" placeholder="Snapshots" min="0" max="255" ng-pattern="/^[\d]*$/" ng-required="hourlyScheduleEnabled">
                  <div ng-messages="volumeForm.hourly_schedule_snapshots_to_keep.$error" role="alert">
                   
                    <p class="help-block error-text" ng-message="min">Minimum value is 0.</p>
                    <p class="help-block error-text" ng-message="max">Maximum value is 255.</p>
                    <p class="help-block error-text" ng-message="number">Please enter valid number.</p>
                    <p class="help-block error-text" ng-message="pattern">Please enter valid integer.</p>
                    <p class="help-block error-text" ng-message="required">Please enter value.</p>
                  </div>              
                </div>
            </div>
            <div id="Daily" class="tabcontent sstabcontent">
              <p class="faint-text">If enabled (In Green) and (snapshotsToKeep > 0), make a snapshot every day. Defaults to midnight.</p>
              <div class="form-group" show-errors>
                <label for="hour">Hour</label>
                <input name="daily_schedule_hour" type="text" ng-model="daily_schedule.hour" id="daily_schedule_hour" class="form-control" placeholder="hour" ng-pattern="/^(?!.*(\b(?:[0-9]|1\d|2[0-3])\b).*\b\1\b)(?:[0-9]|1\d|2[0-3])(?:,(?:[0-9]|1\d|2[0-3]))*$/" ng-required="dailyScheduleEnabled">
                <div ng-messages="volumeForm.daily_schedule_hour.$error" role="alert" >
                  <p class="help-block error-text" ng-message="pattern">>Only coma separated numbers between 0, 23 are allowed. Each number should occure only once</p>
                  <p class="help-block error-text" ng-message="required">Please enter value.</p>
                </div>              
              </div>
              <div class="form-group" show-errors>
                <label for="minute">Minute</label>
                <input name="daily_schedule_minute" type="number" ng-model="daily_schedule.minute" id="daily_schedule_minute" class="form-control" placeholder="minute" min="0" max="59" ng-pattern="/^[\d]*$/" ng-required="dailyScheduleEnabled">
                <div ng-messages="volumeForm.daily_schedule_minute.$error" role="alert">
                 
                  <p class="help-block error-text" ng-message="min">Minimum value is 0.</p>
                  <p class="help-block error-text" ng-message="max">Maximum value is 59.</p>
                  <p class="help-block error-text" ng-message="number">Please enter valid number.</p>
                  <p class="help-block error-text" ng-message="pattern">Please enter valid integer.</p>
                  <p class="help-block error-text" ng-message="required">Please enter value.</p>
                </div>              
              </div>
              <div class="form-group" show-errors>
                <label for="snapshots_to_keep">Snapshots To Keep</label>
                <input name="daily_schedule_snapshots_to_keep" type="number" ng-model="daily_schedule.snapshots_to_keep" id="daily_schedule_snapshots_to_keep" class="form-control" placeholder="Snapshots" min="0" max="255" ng-pattern="/^[\d]*$/" ng-required="dailyScheduleEnabled">
                <div ng-messages="volumeForm.daily_schedule_snapshots_to_keep.$error" role="alert" ng-required="dailyScheduleEnabled">
                 
                  <p class="help-block error-text" ng-message="min">Minimum value is 0.</p>
                  <p class="help-block error-text" ng-message="max">Maximum value is 255.</p>
                  <p class="help-block error-text" ng-message="number">Please enter valid number.</p>
                  <p class="help-block error-text" ng-message="pattern">Please enter valid integer.</p>
                  <p class="help-block error-text" ng-message="required">Please enter value.</p>
                </div>              
              </div>
            </div>
            <div id="Weekly" class="tabcontent sstabcontent" >
              <p class="faint-text">If enabled (In Green) and  (snapshotsToKeep > 0), make a snapshot every week on a specific day, defaults to Sunday at midnight</p>
              <div class="form-group " show-errors>
                <label for="dayOfWeek">Day of the week</label>
                <select ng-model="weekly_schedule['day_of_week']" name="weekly_schedule_day" id="weekly_schedule_day" class="form-control capitalize" ng-options="dayOfWeek.id as dayOfWeek.name for dayOfWeek in weeksArray" ng-required="weeklyScheduleEnabled">
                  <option value="">Please select the Day of the week</option>
                </select>
                <div ng-messages="volumeForm.weekly_schedule_day.$error" role="alert">
                  <p class="help-block error-text" ng-message="required">Please enter value.</p>
                </div>  
              </div>
              <div class="form-group" show-errors>
                <label for="hour">Hour</label>
                <input name="weekly_schedule_hour" type="number" ng-model="weekly_schedule.hour" id="weekly_schedule_hour" class="form-control" placeholder="hour" min="0" max="23" ng-pattern="/^[\d]*$/" ng-required="weeklyScheduleEnabled">
                <div ng-messages="volumeForm.weekly_schedule_hour.$error" role="alert">
                 
                  <p class="help-block error-text" ng-message="min">Minimum value is 0.</p>
                  <p class="help-block error-text" ng-message="max">Maximum value is 23.</p>
                  <p class="help-block error-text" ng-message="number">Please enter valid number.</p>
                  <p class="help-block error-text" ng-message="pattern">Please enter valid integer.</p>
                  <p class="help-block error-text" ng-message="required">Please enter value.</p>
                </div>    
              </div>
              <div class="form-group" show-errors>
                <label for="minute">Minute</label>
                <input name="weekly_schedule_minute" type="number" ng-model="weekly_schedule.minute" id="weekly_schedule_minute" class="form-control" placeholder="minute" min="0" max="59" ng-pattern="/^[\d]*$/" ng-required="weeklyScheduleEnabled">
                <div ng-messages="volumeForm.weekly_schedule_minute.$error" role="alert">
                 
                  <p class="help-block error-text" ng-message="min">Minimum value is 0.</p>
                  <p class="help-block error-text" ng-message="max">Maximum value is 59.</p>
                  <p class="help-block error-text" ng-message="number">Please enter valid number.</p>
                  <p class="help-block error-text" ng-message="pattern">Please enter valid integer.</p>
                  <p class="help-block error-text" ng-message="required">Please enter value.</p>
                </div>              
              </div>
              <div class="form-group" show-errors>
                <label for="snapshots_to_keep">Snapshots To Keep</label>
                <input name="weekly_schedule_snapshots_to_keep" type="number" ng-model="weekly_schedule.snapshots_to_keep" id="weekly_schedule_snapshots_to_keep" class="form-control" placeholder="Snapshots" min="0" max="255" ng-pattern="/^[\d]*$/" ng-required="weeklyScheduleEnabled">
                <div ng-messages="volumeForm.weekly_schedule_snapshots_to_keep.$error" role="alert">
                 
                  <p class="help-block error-text" ng-message="min">Minimum value is 0.</p>
                  <p class="help-block error-text" ng-message="max">Maximum value is 255.</p>
                  <p class="help-block error-text" ng-message="number">Please enter valid number.</p>
                  <p class="help-block error-text" ng-message="pattern">Please enter valid integer.</p>
                  <p class="help-block error-text" ng-message="required">Please enter value.</p>
                </div>              
              </div>          
            </div>
            <div id="Monthly" class="tabcontent sstabcontent">
              <p class="faint-text">If enabled (In Green) and (snapshotsToKeep > 0), make a snapshot every month on a specific day, defaults to the first day of the month at midnight</p>
              <div class="form-group" show-errors>
                <label for="dayOfWeek">Day of the month</label>
                 <input name="monthly_schedule_day" type="number" ng-model="monthly_schedule.day_of_month" id="monthly_schedule_day" class="form-control" placeholder="day" min="0" max="31" ng-pattern="/^[\d]*$/" ng-required="monthlyScheduleEnabled">
                <div ng-messages="volumeForm.monthly_schedule_day.$error" role="alert">
                 
                  <p class="help-block error-text" ng-message="min">Minimum value is 0.</p>
                  <p class="help-block error-text" ng-message="max">Maximum value is 31.</p>
                  <p class="help-block error-text" ng-message="number">Please enter valid number.</p>
                  <p class="help-block error-text" ng-message="pattern">Please enter valid integer.</p>
                  <p class="help-block error-text" ng-message="required">Please enter value.</p>
                </div>    
              </div>
              <div class="form-group" show-errors>
                <label for="hour">Hour</label>
                <input name="monthly_schedule_hour" type="number" ng-model="monthly_schedule.hour" id="monthly_schedule_hour" class="form-control" placeholder="hour" min="0" max="23" ng-pattern="/^[\d]*$/" ng-required="monthlyScheduleEnabled">
                <div ng-messages="volumeForm.monthly_schedule_hour.$error" role="alert">
                 
                  <p class="help-block error-text" ng-message="min">Minimum value is 0.</p>
                  <p class="help-block error-text" ng-message="max">Maximum value is 23.</p>
                  <p class="help-block error-text" ng-message="number">Please enter valid number.</p>
                  <p class="help-block error-text" ng-message="pattern">Please enter valid integer.</p>
                  <p class="help-block error-text" ng-message="required">Please enter value.</p>
                </div>    
              </div>
              <div class="form-group" show-errors>
                <label for="minute">Minute</label>
                <input name="monthly_schedule_minute" type="number" ng-model="monthly_schedule.minute" id="monthly_schedule_minute" class="form-control" placeholder="minute" min="0" max="59" ng-pattern="/^[\d]*$/" ng-required="monthlyScheduleEnabled">
                <div ng-messages="volumeForm.monthly_schedule_minute.$error" role="alert">
                 
                  <p class="help-block error-text" ng-message="min">Minimum value is 0.</p>
                  <p class="help-block error-text" ng-message="max">Maximum value is 59.</p>
                  <p class="help-block error-text" ng-message="number">Please enter valid number.</p>
                  <p class="help-block error-text" ng-message="pattern">Please enter valid integer.</p>
                  <p class="help-block error-text" ng-message="required">Please enter value.</p>
                </div>              
              </div>
              <div class="form-group" show-errors>
                <label for="snapshots_to_keep">Snapshots To Keep</label>
                <input name="monthly_schedule_snapshots_to_keep" type="number" ng-model="monthly_schedule.snapshots_to_keep" id="monthly_schedule_snapshots_to_keep" class="form-control" placeholder="Snapshots" min="0" max="255" ng-pattern="/^[\d]*$/" ng-required="monthlyScheduleEnabled">
                <div ng-messages="volumeForm.monthly_schedule_snapshots_to_keep.$error" role="alert">
                 
                  <p class="help-block error-text" ng-message="min">Minimum value is 0.</p>
                  <p class="help-block error-text" ng-message="max">Maximum value is 255.</p>
                  <p class="help-block error-text" ng-message="number">Please enter valid number.</p>
                  <p class="help-block error-text" ng-message="pattern">Please enter valid integer.</p>
                  <p class="help-block error-text" ng-message="required">Please enter value.</p>
                </div>              
              </div>          
            </div>
        </div>
      </div>
    </div>
   
    </br>

      <div class="form-group">
        <input type="submit" value="Update" class="btn btn-xl btn-primary">
      </div>
    </div>
    <div ng-show="error" class="text-danger">
      <strong ng-bind="error"></strong>
    </div>
  </form>
</section>
