<section ng-controller="JobsController" ng-init="findOne()" ng-show="job.jobId">
  <div class="page-header">
    <h1>Job: <span class="capitalize">{{::job.module}}</span> - <span class="capitalize">{{::job.operation}}</span></h1>
  </div>
  <div class="col-md-8">
    <table class="table table-striped">
      <tr><th>Module</th><td ng-bind="job.module" class="word-break-all capitalize"></td></tr>
      <tr><th>Operation</th><td ng-bind="job.operation " class="word-break-all capitalize"></td></tr>
      <tr><th>Object Code</th><td ng-bind="job.object.code" class="word-break-all"></td></tr>
      <tr><th>Created At (UTC)</th><td ng-bind="job.created |  date:'medium' : 'UTC'" ></td></tr>
      <tr><th>Updated At (UTC)</th><td ng-bind="job.updated  | date:'medium' : 'UTC'" ></td></tr>
      <tr><th>User</th><td ng-bind="job.user.username"></td></tr>
      <tr><th>Payload</th><td><pre>{{job.payload | json}}</pre></td></tr>
      <tr><th>Result</th><td><pre>{{getResult(job.result) | json}}</pre></td></tr>     
      <tr><th>Status</th><td ng-bind="job.status" ></td></tr>
      <tr ng-if="isRoot"><th>Tenant</th>
        <td><pre>{{job.tenant | json}}</pre></td>
      </tr>  
      <tr><th>Partner</th>
        <td><pre>{{job.partner | json}}</pre></td>
      </tr>    
    </table>
  </div>
  <div ng-show="error" class="text-danger">
    <strong ng-bind="error"></strong>
  </div>
</section>
