<section ng-controller="SystemsController" ng-init="find()">
  <div class="page-header">
    <h1>New Eseries System</h1>
  </div>
  <div class="col-md-6">
    <form name="SystemForm" class="form-horizontal" ng-submit="create(SystemForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group required" show-errors>
          <label for="name">Name</label>
          <input name="name" type="text" ng-model="name" id="name" class="form-control" placeholder="Name"
            ng-minlength="3"
            ng-maxlength="64"
            ng-pattern="/^[a-zA-Z0-9\-]*$/"
            required>
         <div ng-messages="SystemForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Eseries System name is required.</p>
            <p class="help-block error-text" ng-message="minlength">Eseries System name should have Minimum 3 characters.</p>
            <p class="help-block error-text" ng-message="maxlength">Eseries System name should have Maximum 64 characters.</p>
            <p class="help-block error-text" ng-message="pattern">Eseries System name can only include alphanumeric characters including dash.</p>
          </div>
        </div>
        <div class="form-group required" show-errors>
          <label for="wwn">wwn</label>
          <input name="wwn" type="text" ng-model="wwn" id="wwn" class="form-control" placeholder="eg. 600A098000A4AE91000000005EA11AAD"
          ng-pattern="/^[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12}$/" required>
          <div ng-messages="SystemForm.wwn.$error" role="alert">
            <p class="help-block error-text" ng-message="required">System wwn is required.</p>            
            <p class="help-block error-text" ng-message="pattern">wwn is invalid</p>
          </div>
        </div>
        <div class="form-group required" show-errors >
          <label for="rest_url">REST URL</label>
          <input name="rest_url" type="text" ng-model="rest_url" id="rest_url" class="form-control" placeholder="e.g. https://10.61.82.57:8443/devmgr/v2"
                 ng-pattern="/^(?:(?:https?|ftp):\/\/)(?:\S+(?::\S*)?@)?(?:(?!10(?:\.\d{1,3}){3})(?!127(?:\.\d{1,3}){3})(?!169\.254(?:\.\d{1,3}){2})(?!192\.168(?:\.\d{1,3}){2})(?!172\.(?:1[6-9]|2\d|3[0-1])(?:\.\d{1,3}){2})(?:[1-9]\d?|1\d\d|2[01]\d|22[0-3])(?:\.(?:1?\d{1,2}|2[0-4]\d|25[0-5])){2}(?:\.(?:[1-9]\d?|1\d\d|2[0-4]\d|25[0-4]))|(?:(?:[a-z\u00a1-\uffff0-9]+-?)*[a-z\u00a1-\uffff0-9]+)(?:\.(?:[a-z\u00a1-\uffff0-9]+-?)*[a-z\u00a1-\uffff0-9]+)*(?:\.(?:[a-z\u00a1-\uffff]{2,})))(?::\d{2,5})?(?:\/[^\s]*)?$/i" required>
          <div ng-messages="SystemForm.rest_url.$error" role="alert">
            <p class="help-block error-text" ng-message="required">REST URL is required.</p>
            <p class="help-block error-text" ng-message="pattern">A valid REST URL address is required</p>
          </div>          
        </div>
        <div class="form-group required" show-errors>
          <label for="provisioning_state">Provisioning State</label>   
          <select name="provisioning_state" ng-model="provisioning_state" id="provisioning_state" class="form-control"  required >
            <option value="">Please select a Provisioning State</option>
            <option value="open">Open</option>
            <option value="closed">Closed</option>
          </select>
           
          <div ng-messages="SystemForm.provisioning_state.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Provisioning State is required.</p>
          </div>
        </div>
        <div class="form-group required" show-errors>
          <label for="provisioning_state">Applications</label>   
          <select name="applications" ng-model="applications" id="applications" class="form-control"  required ng-options="app.applicationId as app.name for app in applicationsList | orderBy: 'name'" multiple ng-disabled="applicationsList.length==0">
          </select>
          <!-- <p class="help-block" ng-message="required">Please select one more applications which can be provisioned under the System</p> -->
          <div ng-messages="SystemForm.applications.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Please select one more applications which can be provisioned under the System</p>
          </div>
        </div>
        <!-- <div class="form-group" show-errors>
          <label for="rest_uri">REST URI</label>   
          <input name="rest_uri" type="text" ng-model="rest_uri" id="rest_uri" class="form-control" placeholder="http://sample.com">  
        </div> -->
        <div class="form-group">
          <button  type="button" class="luci-button luci-button--primary" ng-click="create(SystemForm.$valid)">Create</button>
          <button  type="button" class="luci-button luci-button--icon-only luci-button--primary" ui-sref="Systems.list" title="Back">
              <span class="luci-button__inner">
                <svg class="luci-icon luci-button__icon luci-button__icon--left" aria-hidden="true">
                    <use xlink:href="/assets/css/icons/luci.svg#navigate-back">
                    </use>
                </svg>
            </span>
          </button>
        </div>
        <div ng-show="error" class="text-danger">
          <strong ng-bind="error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
