<section ng-init="rowsToDisplay()">
  <div class="page-header">
    <div class="row">
      <div class="col-md-4">
        <h1>Tenants</h1>
      </div>
      <div class="col-md-4 search-top-bar">
        <input class="form-control col-md-4" type="text" ng-model="search" placeholder="Search" ng-change="rowsToDisplay()" ng-bind-html/>
      </div>
    </div>
  </div>
  <div class="table-responsive" ng-show="tableParams.total(value)">
    <table ng-table="tableParams" class="table table-bordered table-striped">
      <tr ng-repeat="tenant in $data">
        <td ng-bind="tenant.name" title="'Name'" sortable="'name'" class="breakword capitalize"></td>
        <td ng-bind="tenant.code" title="'Code'" sortable="'code'" class="breakword"></td>
        <td ng-bind="tenant.partner.name" title="'Partner'" sortable="'partner.name'" class="breakword"></td>
        <td ng-bind="tenant.annotation" ng-if="annotationSetting.enabled" title="'Annotation'" sortable="'annotation'" class="breakword"></td>
        <td ng-if="(tenantAccessRoles.update | intersect : authentication.user.roles) > 0 "><button type="button" class="btn btn-xs btn-primary" ui-sref="tenants.edit({tenantId: tenant.tenantId})">Edit</button></td>
        
        <td><button type="button" class="btn btn-xs btn-primary" ui-sref="tenants.view({tenantId: tenant.tenantId})">Details</button></td>
      </tr>
    </table>
  </div>
  <div class="alert alert-warning text-center" ng-show="zeroRecords">
    No Records found.
  </div>
</section>
