<section ng-controller="ServersController" ng-init="findOne()">
  <div class="page-header">
    <h1>{{labels.server.serverName}}: <span ng-bind="server.name"></span></h1>
  </div>
  <div class="col-md-6">
    <form name="serverForm" class="form-horizontal" ng-submit="fix(serverForm.$valid)" novalidate >
      <fieldset>
        <div class="row show-grid">        
          <div class="form-group" show-errors>
            <label for="podId">Pod</label>
            <select name="podId" ng-model="server.pod" id="podId" class="form-control" ng-options="pod.podId as pod.name for pod in pods | orderBy: 'name'">
              <option value="">Please select a Pod</option>
            </select>
          </div>
          <div class="form-group" ng-show="server.managed == 'Customer'" show-errors>
            <label for="ipVirtClus">Cluster IP</label>
            <input name="ipVirtClus" type="text" ng-model="server.ipVirtClus" id="ipVirtClus" class="form-control" ng-bind-html
            ng-pattern="/^([1-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])$/"
            >
            <div ng-messages="serverForm.ipVirtClus.$error" role="alert">            
              <p class="help-block error-text" ng-message="pattern">Please enter Valid IP Address</p>
            </div>
          </div>
          <div class="form-group" show-errors>
            <label for="ipMgmt">Primary IP</label>
            <input name="ipMgmt" type="text" ng-model="server.ipMgmt" id="ipMgmt" class="form-control" ng-bind-html
            ng-pattern="/^([1-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\.([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])$/">
            <div ng-messages="serverForm.ipMgmt.$error" role="alert">            
              <p class="help-block error-text" ng-message="pattern">Please enter Valid IP Address</p>
            </div>
          </div>
          <div class="form-group" show-errors>
            <label for="code">Code</label>
            <input name="code" type="text" ng-model="server.code" id="code" class="form-control" ng-bind-html
            ng-pattern="/^[a-zA-Z0-9\-_]*$/">
            <div ng-messages="serverForm.code.$error" role="alert">            
              <p class="help-block error-text" ng-message="pattern">Server code can only include alphanumeric, underscore & dash</p>
            </div>
          </div>
          <div class="form-group" show-errors>
            <label for="vlan">VLAN</label>
            <input name="vlan" type="number" ng-model="server.vlan" id="vlan" class="form-control" ng-bind-html ng-pattern="/^[\d]*$/">
            <div ng-messages="serverForm.vlan.$error" role="alert">            
              <p class="help-block error-text" ng-message="number">Please enter valid number.</p>
              <p class="help-block error-text" ng-message="pattern">Please enter valid integer.</p>
            </div>
          </div>
          <div class="form-group" show-errors>
            <label for="status">Status</label>
            <select class="form-control" name="status" id="status" ng-model="server.status">
                <option value="">Please select a Status</option>
                <option ng-repeat="status in validStatusToAssign" value="{{status}}">{{status}}</option>
            </select>
          </div>
          <div class="form-group">
            <input type="submit" value="Fix" class="btn btn-xl btn-primary">
          </div>        
        </div>
        <div ng-show="error" class="text-danger">
          <strong ng-bind="error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
