<section ng-controller="SubscriptionsController" ng-init="find()">
  <div class="page-header">
    <h1>New Subscription</h1>
  </div>
  <div class="col-md-6">
    <form name="subscriptionForm" class="form-horizontal" ng-submit="create(subscriptionForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group required" show-errors>
          <label for="name">Name</label>
          <input name="name" type="text" ng-model="name" id="name" class="form-control" placeholder="Name"
                  ng-maxlength="32"
                  ng-minlength="3"
                  ng-pattern="/^[a-zA-Z0-9 -]*$/"
                  required>
          <div ng-messages="subscriptionForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Subscription name is required.</p>
            <p class="help-block error-text" ng-message="maxlength">Subscription name should be maximum 32 characters long.</p>
            <p class="help-block error-text" ng-message="minlength">Subscription name must be minimum 3 characters long.</p>
            <p class="help-block error-text" ng-message="pattern">Only Alphanumeric, spaces and dashes are allowed</p>
          </div>
        </div>
        <div class="form-group required" show-errors>
          <label for="code">Code</label>
          <input name="code" type="text" ng-model="code" id="code" class="form-control" placeholder="Code"
                  ng-maxlength="16"
                  ng-minlength="3"
                  ng-pattern="/^[a-z0-9]*$/"
                  required>                 
          <div ng-messages="subscriptionForm.code.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Subscription code is required.</p>
            <p class="help-block error-text" ng-message="maxlength">Subscription code should be maximum 16 characters long.</p>
            <p class="help-block error-text" ng-message="minlength">Subscription code must be minimum 3 characters long.</p>
            <p class="help-block error-text" ng-message="pattern">Only lowercase alphanumeric characters are allowed.</p>
          </div>
        </div>        
        <div ng-if="subscriptionSettings.site.enabled" class="form-group" ng-class="(subscriptionSettings.site.enabled && subscriptionSettings.site.mandatory) ? 'required' : ''" show-errors>
          <label for="siteId">Site</label>
          <select name="siteId" ng-model="$parent.siteId" id="siteId" class="form-control" ng-options="site.siteId as site.name for site in sites | orderBy: 'name'" 
          ng-required="subscriptionSettings.site.enabled && subscriptionSettings.site.mandatory"
          >
            <option value="">Please select a site</option>
          </select>
          <div ng-messages="subscriptionForm.siteId.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Site name is required.</p>
          </div>
        </div>
        <div class="form-group required" show-errors>
          <label for="tenantId">Tenant</label>
          <select name="tenantId" ng-model="tenantId" id="tenantId" class="form-control" ng-options="tenant.tenantId as tenant.name for tenant in tenants | orderBy: 'name'" required>
            <option value="">Please select a tenant</option>
          </select>
          <div ng-messages="subscriptionForm.tenantId.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Tenant name is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors ng-if="isRoot">
          <label for="partnerId">Partner</label>
          <select name="partnerId" ng-model="$parent.partnerId" id="partnerId" class="form-control" ng-options="tenant.tenantId as tenant.name for tenant in tenants | orderBy: 'name'">
            <option value="">Please select a partner</option>
          </select>         
        </div>

        <div ng-if="subscriptionSettings.description.enabled" class="form-group" ng-class="(subscriptionSettings.description.enabled && subscriptionSettings.description.mandatory) ? 'required' : ''" show-errors>
          <label for="description">Description</label>
          <input name="description" type="text" ng-model="$parent.description" id="description" class="form-control" placeholder="Description"
                  ng-maxlength="256"
                  ng-pattern="/^[a-zA-Z0-9\ ,-._]*$/"
                  ng-required="subscriptionSettings.description.enabled && subscriptionSettings.description.mandatory">
          <div ng-messages="subscriptionForm.description.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Description is required.</p>
            <p class="help-block error-text" ng-message="maxlength">Description should be maximum 256 characters long.</p>
            <p class="help-block error-text" ng-message="pattern">Only Alphanumeric, spaces, dashes, underscores, commas & dots are allowed</p>
          </div>
        </div>
        <div ng-if="subscriptionSettings.url.enabled" class="form-group" ng-class="(subscriptionSettings.url.enabled && subscriptionSettings.url.mandatory) ? 'required' : ''" show-errors>
          <label for="url">URL</label>
          <input name="url" type="text" ng-model="$parent.url" id="url" class="form-control" placeholder="URL"
                  ng-maxlength="256"
                  ng-pattern="/^(?:(?:https?|ftp):\/\/)(?:\S+(?::\S*)?@)?(?:(?!10(?:\.\d{1,3}){3})(?!127(?:\.\d{1,3}){3})(?!169\.254(?:\.\d{1,3}){2})(?!192\.168(?:\.\d{1,3}){2})(?!172\.(?:1[6-9]|2\d|3[0-1])(?:\.\d{1,3}){2})(?:[1-9]\d?|1\d\d|2[01]\d|22[0-3])(?:\.(?:1?\d{1,2}|2[0-4]\d|25[0-5])){2}(?:\.(?:[1-9]\d?|1\d\d|2[0-4]\d|25[0-4]))|(?:(?:[a-z\u00a1-\uffff0-9]+-?)*[a-z\u00a1-\uffff0-9]+)(?:\.(?:[a-z\u00a1-\uffff0-9]+-?)*[a-z\u00a1-\uffff0-9]+)*(?:\.(?:[a-z\u00a1-\uffff]{2,})))(?::\d{2,5})?(?:\/[^\s]*)?$/i"
                  ng-required="subscriptionSettings.url.enabled && subscriptionSettings.url.mandatory">
          <div ng-messages="subscriptionForm.url.$error" role="alert">
            <p class="help-block error-text" ng-message="required">URL is required.</p>
            <p class="help-block error-text" ng-message="maxlength">URL should be maximum 256 characters long.</p>
            <p class="help-block error-text" ng-message="pattern">Invalid URL format.</p>
          </div>
        </div>

        <div ng-if="paymentMethod.prePaid">
        <label class="form-group">Storage Pack:</label>
          <div class="row">
            <div class="col-md-4">
              <label class="star">Class(Type-Tier)</label>
            </div>
            <div class="col-md-6">             
              <label class="star">Procured (GB)</label>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-1"></div>
          </div>
          <div class="row" ng-repeat="(index, storagePack) in storagePacks">
             <div class="col-md-4">
                <div class="form-group" show-errors style="margin-right:0px;">                
                  <select name="class_{{$index}}" ng-model="storagePack.class" id="class_{{$index}}" class="form-control" 
                   ng-required="true" ng-change="checkIfClassExist(storagePack.class, $index);">
                   <option value="">Class</option>
                    <option ng-repeat="class in validStoragepackClassesToAssign | orderBy" value="{{class}}" class="capitalize">{{class}}</option>
                  </select>            
                  <div ng-messages="subscriptionForm['class_'+$index].$error" role="alert">
                    <p class="help-block error-text" ng-message="required">Class is required.</p>
                  </div>
                </div>
              </div>
              <div class = "col-md-6">
                <div class="form-group" show-errors>
                  <input name="procured_{{index}}" type="number" ng-model="storagePack.sizegb.procured" id="procured_{{index}}" class="form-control" placeholder="Size (GB)" required ng-pattern="/^[\d]*$/">
                  <div ng-messages="subscriptionForm['procured_'+$index].$error" role="alert">
                    <p class="help-block error-text" ng-message="required">Size in GB is required.</p>
                    <p class="help-block error-text" ng-message="number">Please enter valid number.</p>
                    <p class="help-block error-text" ng-message="pattern">Please enter valid positive integer.</p>
                  </div>
                </div>                
              </div>
              <div class="col-md-1" ng-click="addNewCapacityPack();">
                <span class="input-group-btn">
                <button type="button" class="btn btn-primary btn-number" data-type="plus" data-field="quant[1]">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
                </span>
              </div> 
              <div class="col-md-1" ng-click="removeCapacityPack($index);" ng-if="$index != 0">
                <span class="input-group-btn">
                <button type="button" class="btn btn-primary btn-number" data-type="minus" data-field="quant[1]">
                    <span class="glyphicon glyphicon-minus"></span>
                </button>
                </span>
              </div>                
          </div>  
          
            <p class="help-block"><b>Note:</b>Each capacity pack should have unique storage class.</p>
         
        </div>
        <div class="form-group">
          <input type="submit" value="Create" class="btn btn-primary">
        </div>
        <div ng-show="error" class="text-danger">
          <strong ng-bind="error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
