svg {
    /* border: 1px solid #000; */
}
body, html {
width: 100%;
height: 100%;
margin: 0 auto;
}

.graph {
    width: auto;
}

.tooltip {
    text-decoration: underline;
}

.axis {
    font: 10px Georgia, Arial, sans-serif;
}

.axis path, .axis line {
    fill: none;
    stroke: #dadada;
    shape-rendering: crispEdges;
}

/* @media screen and (min-width: 576px)
{
    .luci-navigation-container__navigation-vertical-wrapper {
        top: 51px;
    }
} */

.luci-table__table th{
    padding:10px;
    text-transform: capitalize;
}

.luci-table__table td {
    padding:10px;
}




/* .luci-navigation-container--navigation-vertical-is-active .luci-navigation-container__navigation-vertical {
    width: 150px;
} */

.luci-table__table th {
    white-space: normal;
}

.luci-form__input {
    font-family: inherit;
    line-height:1
}

.d3-tip {
    line-height: 1;
    padding: 6px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 4px;
    font-size: 12px;
  }

  /* Creates a small triangle extender for the tooltip */
  .d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
  }

  /* Style northward tooltips specifically */
  .d3-tip.n:after {
    margin: -2px 0 0 0;
    top: 100%;
    left: 0;
  }


  .nav .open > a, .nav .open > a:hover, .nav .open > a:focus  {
    background-color: #08214B !important;
    border-color: #337ab7;
  }

  .nav > li > a:hover, .nav > li > a:focus  {
    background-color: #08214B !important;
    border-color: #337ab7;
  }


  .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-color: #08214B !important;
    background-image:none;
    color:#fff
  }

  .luci-navigation__list--subnav .luci-navigation__link:hover {
      color:#fff !important;
  }